body {
  display: flex;
  flex-direction: column;
  background-color: #D8E6F8;
  margin: 30px;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: #444;
  }

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid;
  border-color: red; */
  margin: 20px;
}

#subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid;
  border-color: purple; */
  margin: 20px;
}

#tabs {
  display: flex;
  justify-content: space-between;
  /* border: 5px solid;
  border-color: blue; */
  width: 30%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* border: 2px solid;
  border-color: red; */
  margin-right: 50px;
}

#theader {
  width: 75%;
  background-color: white;
  /* border: 2px solid;
  border-color: red; */
}

#archived {
  /* border: 2px solid;
  border-color: slateblue; */
  background-color: white;
  margin-top: 10px;
  width: 75%;
}

#action {
  /* border: 1px solid; */
  width: 10%;
  margin: 20px;
}

#action-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}


#app-content {
  margin: auto;
  width: 100%;
  padding: 10px;
}

table {
  table-layout: fixed;
  border: none;
  background-color: white;
  /* border: 2px solid;
  border-collapse: collapse; */
}

td {
  align-items: center;
}

img {
  border-radius: 50%;
  width: 57px;
  height: 57px;
}

a {
  all: unset;
  cursor: pointer;
}
a:hover { color:#444; }

.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }

.title{
  /* border: 5px solid;
  border-color: green; */
  justify-content: left;
  width: 30%;
}

.action-button {
  background-color: #4E7099;
}

.func {
  background-color: white;
  color: #444;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  border-color: #4E7099;
}

.tablink {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.accordion {
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.accordion-header {
  background-color: white;
  color: darkblue;
  cursor: pointer;
  font-size: 18px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion-header:hover {
  background-color: lightblue;
}

.accordion-panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}