
<script src="{{url_for('static', filename='js/feature.js')}}"></script>

<html>
  <head>
    <title>Columbia Club Apps</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap">
  </head>

  <body>
    <!-- HEADER - sticks across pages in full implementation -->
    <div id="header">
      <h2 class="app-head">Individual Applicant</h2>
      <div id="app-tab">
          <button class="tablink"><a href="/dashboard">Edit Home</a></button>
          <button class="tablink"><a href="/dashboard">Manage Application</a></button>
          <button class="tablink"><a href="/dashboard">Track Applicants</a></button>
      </div>
    </div>

    <!-- CARD -->
    <div id="applicant">
        <a id="return" href="/dashboard">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspReturn to Dashboard</a>
        <div id = "first" class="app-section">
          <div id="pinfo">
            <p id="app-email">abcd@columbia.edu</p>
            <p id="app-phone">999-883-3231</p>
          </div>
          <img id="propic" src="../../static/imgs/{{data['pic']}}.jpeg" alt="{{data['name']}}">
          <div id="container">
            <h2 id="uname" class="app-head small">{{data['name']}}</h2>
            <button id="status-but">In Review</button>
            <div id="app-select" class="select-down">
                <select class="func" name="round" id="rounds">
                  <option value="current">Pending interview</option>
                  <option value="social">Interview</option>
                  <option value="technical">Cancelled</option>
                </select>
              </div>
          </div>
         
        </div>

        <div class="app-section">
          <p id="subtime">Application Submitted: 09/25/2022 at 7:49 pm</p>
          <h3 class="app-head small">Basic Profile</h3>
          <table id="app-info">
            <tr>
              <th>School</th>
              <th>Class Year</th>
              <th>Race</th>
              <th>FGLI</th>
            </tr>
            <tr>
              <td>{{data['school']}}</td>
              <td>{{data['grad']}}</td>
              <td>Asdasd</td>
              <td>Yes</td>
            </tr>
          </table>
        </div>

        <div class="app-section">
          <h3 class="app-head small">Bio</h3>
          <p>I enjoy bears and keeping in touch with bear culture. In my free time, I like reading books</p>
        </div>

        <div class="app-section">
          <h3 class="app-head small">Documents</h3>
          <a download>{{data['name']}}-resume.pdf</a>
          <a download>{{data['name']}}-bear-pitch.pdf</a>
        </div>

        <div class="app-section">
          <h3 class="app-head small">Application Responses</h3>

          <div class="accordion">
            <button onclick="myFunction('a1')" class="accordion-header" type="button">Why do you want to join We Bare Bears Society?</button>
            <div class="accordion-panel" id='a1'>
              <p>I want to join the We Bare Bears Society because I want to join the We Bare Bears Society. The We Bare Bears Society is a great place to be a We Bear Bear. Bears are bears and we are bare bears. Bear bear we are bear we are bears. To summarize, I believe that I want to join the We Bare Bears Society because I want to join the We Bare Bears Society. The We Bare Bears Society has done a lot for me as a bear..</p>
            </div>
          </div>
          
          <div class="accordion">
            <button onclick="myFunction('a2')"  class="accordion-header" type="button">Do you have any experiences that would help contribute to We Bear Bears Society?</button>
            <div class="accordion-panel" id='a2'>
              <p>I want to join the We Bare Bears Society because I want to join the We Bare Bears Society. The We Bare Bears Society is a great place to be a We Bear Bear. Bears are bears and we are bare bears. Bear bear we are bear we are bears. To summarize, I believe that I want to join the We Bare Bears Society because I want to join the We Bare Bears Society. The We Bare Bears Society has done a lot for me as a bear.</p>
            </div>
          </div>
        </div>


        <div class="app-section">
          <h3 class="app-head small">Applicant Feedback</h3>
          <div class="accordion">
            <button onclick="myFunction('a3')" class="accordion-header" type="button">Social Round #1</button>
            <div class="accordion-panel" id='a3'>
              <p>Interviewed by: Dean Tiny</p>
              <a download>Interview Notes</a>
            </div>
          </div>
          <div class="accordion">
            <button onclick="myFunction('a4')"  class="accordion-header" type="button">Professional Round #1</button>
            <div class="accordion-panel" id='a4'>
              <p>Interviewed by: Dean Piny</p>
              <a download>Interview Notes</a>
            </div>
          </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>  
</html>

